/* style.css */
body {
    background-color: #ffcc99; /* Naranja suave */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.auth-box {
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.auth-form {
    margin-bottom: 20px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff66cc; /* Rosa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #ff3399;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
